.ChatBox {
  :global {
    .show-message-box {
      // TODO calc
      height: calc(100vh - 135px);
      overflow-y: scroll;
      padding-left: 10px;
      margin-top: 0 !important;
    }
    .form {
      flex: 1;
    }
  }
}
