@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html {
  font-size: 16px;
  // @media (max-width: 767.98px) {
  //   & {
  //     font-size: 17px;
  //   }
  // }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
input:-webkit-autofill {
  &:hover,
  &:focus,
  &:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}